apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  namespace: {{ .Values.namespace }}
  labels:
    App: {{ .Values.deployment.name }}
  annotations:
    {{- toYaml .Values.deployment.annotations | nindent 4 }}

spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      App: {{ .Values.deployment.name }}
  template:
    metadata:
      labels:
        App: {{ .Values.deployment.name }}
        force-recreate: {{ randAlphaNum 5 | quote }}
    spec:
      serviceAccountName: {{ include "atm-layer-rest-adapter.serviceAccountName" . }}
      volumes:
      - name: secrets-store-inline
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true 
          volumeAttributes:
            secretProviderClass: {{ .Values.secretProviderClass.name }}
      containers:
        - name: {{ .Values.deployment.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: {{ .Values.service.port }}
          imagePullPolicy: Always
          env:
            - name: MIL_ADAPTER_ENGINE_URL
              value: "{{ .Values.camundaWebUser.address }}"
            - name: MIL_ADAPTER_DISABLE_BACKOFF_STRATEGY
              value: "{{ .Values.milAdapter.disableBackoffStrategy }}"
            - name: MIL_ADAPTER_LOCK_DURATION
              value: "{{ .Values.milAdapter.lockDuration }}"
            - name: MIL_ADAPTER_ASYNC_RESPONSE_TIMEOUT
              value: "{{ .Values.milAdapter.asyncResponseTimeout }}"
            - name: MIL_ADAPTER_ENGINE_ACCOUNT_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.camundaWebUser.credentialsSecretName }}
                  key: {{ .Values.camundaWebUser.credentialsSecretKeys.username }}
            - name: MIL_ADAPTER_ENGINE_ACCOUNT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.camundaWebUser.credentialsSecretName }}
                  key: {{ .Values.camundaWebUser.credentialsSecretKeys.password }}
            - name: MIL_ADAPTER_MIL_BASE_PATH
              value: "{{ .Values.milAdapter.milBasePath }}"
            - name: MIL_ADAPTER_MIL_AUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.milAuth.credentialsSecretName }}
                  key: {{ .Values.milAuth.credentialsSecretKeys.clientId }}
            - name: MIL_ADAPTER_MIL_AUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.milAuth.credentialsSecretName }}
                  key: {{ .Values.milAuth.credentialsSecretKeys.clientSecret }}
            - name: MIL_ADAPTER_ENGINE_DB_BASE_URL
              value: "{{ .Values.database.url }}"
            - name: MIL_ADAPTER_ENGINE_DB_NAME
              value: "{{ .Values.database.db_name }}"
            - name: MIL_ADAPTER_ENGINE_DB_SCHEMA
              value: "{{ .Values.database.schema }}"
            - name: MIL_ADAPTER_ENGINE_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.database.credentialsSecretName }}
                  key: {{ .Values.database.credentialsSecretKeys.username }}
            - name: MIL_ADAPTER_ENGINE_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.database.credentialsSecretName }}
                  key: {{ .Values.database.credentialsSecretKeys.password }}
            - name: MIL_ADAPTER_ENGINE_DB_DRIVER
              value: "{{ .Values.database.driver }}"
            - name: MIL_ADAPTER_ENABLE_INTERCEPTOR_LOGGING
              value: "{{ .Values.milAdapter.enableInterceptorLogging }}"
            - name: MIL_ADAPTER_LOG_ENGINE_INPUT_VARIABLES
              value: "{{ .Values.milAdapter.logEngineInputVariables }}"
            - name: MIL_ADAPTER_REST_READ_TIMEOUT
              value: "{{ .Values.milAdapter.restReadTimeout }}"
            - name: MIL_ADAPTER_REST_CONNECTION_TIMEOUT
              value: "{{ .Values.milAdapter.restConnectionTmieout }}"
            - name: MIL_ADAPTER_MIL_AUTH_RELATIVE_PATH
              value: "{{ .Values.milAdapter.milAuthRelativePath }}"
            - name: MIL_ADAPTER_MIL_AUTH_CLIENT_CREDENTIALS
              value: "{{ .Values.milAdapter.milAuthClientCredentials }}"
            - name: MIL_ADAPTER_TOKEN_CACHE_NAME
              value: "{{ .Values.milAdapter.tokenCacheName }}"
            - name: MIL_ADAPTER_TOKEN_CACHE_MAX_ENTRIES
              value: "{{ .Values.milAdapter.tokenCacheMaxEntries }}"
            - name: MIL_ADAPTER_MODEL_BASE_PATH
              value: "{{ .Values.milAdapter.modelBasePath }}"
          volumeMounts:
          - name: secrets-store-inline
            mountPath: "/mnt/secrets-store"
            readOnly: true

  strategy:
    type: Recreate